.button
{
    -fx-background-color : #FFFFFF;
    -fx-border-radius : 10 10 10 10;
    -fx-text-fill: #105AAA;
    -fx-border-color : #105AAA;

}

.button:hover
{
    -fx-background-color : #EBEBEB;
    -fx-border-radius : 10 10 10 10;
    -fx-text-fill: #105AAA;
    -fx-border-color : #105AAA;
}

.button:pressed
{
    -fx-background-color : #FFFFFF;
    -fx-border-radius : 10 10 10 10;
    -fx-text-fill: #105AAA;
    -fx-border-color : #105AAA;
}