.choice-box
{
  -fx-background-color: #EBEBEB;
  -fx-mark-color: #105AAA; // arrow color
  -fx-border-radius : 5 5 5 5;
  -fx-border-color : #105AAA;
}

.choice-box:hover
{
  -fx-background-color: #d0d0d0;
  -fx-mark-color: #105AAA; // arrow color
  -fx-border-radius : 5 5 5 5;
  -fx-border-color : #105AAA;
}

.choice-box:pressed
{
  -fx-background-color: #EBEBEB;
  -fx-mark-color: #105AAA; // arrow color
  -fx-border-radius : 5 5 5 5;
  -fx-border-color : #105AAA;
}
.choice-box .context-menu
{
    -fx-background-color: black;
}



.choice-box > .label
{
    -fx-text-fill: white;
}

.choice-box .menu-item:focused
{
    -fx-background-color: orange;
}

.choice-box .menu-item > .label
{
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label
{
    -fx-text-fill: black;
}